@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");

body {
  background: linear-gradient(var(--softViolet), var(--softBlue));
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.box {
  position: absolute;
  top: 43%;
  left: 0;
  transform: translate(-49%, 0);
  display: block;
}
.glowna {
  border: 0px solid;
  border-radius: 8px;
  border-color: white;
  width: 900px;
  height: 450px;
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  background-color: white;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  /*overflow: hidden;*/
}

.obrazki {
  position: relative;
  top: 0;
  left: 0;
  overflow: hidden;
}
div.dziecko {
  transition: 0.3s;
}
/* div.dziecko > span {
  position: ab;
} */
.hidden {
  opacity: 0;
  visibility: hidden;
  height: 0px;
  /* display: none; */
}
.hidden > span {
  height: 0px;
}
.shown {
  opacity: 1;
  visibility: visible;
  /* display: block; */
}
button {
  transition: 0.3s;
}
button:hover {
  transform: rotate(360deg);
}
button.check {
  background: url(./images/icon-arrow-down.svg) no-repeat;
  background-position: center;
  width: 30px;
  height: 30px;
  border: 0px;
  right: 0px;
  position: absolute;
}
.patternik {
  position: relative;
  width: 80%;
  /* height: 80%; */
  transform: translate(-40%, -20%);
}

.desktop {
  position: absolute;
  top: 50px;
  left: 0;
  transform: translate(-13%, 0);
}

.box {
  position: absolute;
  top: 43%;
  left: 0;
  transform: translate(-49%, 0);
  display: block;
}
.FAQ {
  font-family: "Kumbh Sans", sans-serif;
  right: 0;
  top: 0;
  padding-top: 50px;
  font-weight: bold;
  font-size: 2em;
}
.tekst.tabela {
  display: grid;
}
.tekst.header {
  border-bottom: 1px solid var(--lightGrayishBlue);
  font-weight: bold;
}
.tekst {
  font-family: "Kumbh Sans", sans-serif;
  right: 0;
  top: 0;

  /* border-bottom: 1px solid var(--lightGrayishBlue); */
  line-height: 1.5em;
  padding-top: 1.5em;
}

:root {
  --veryDarkDesaturatedBlue: hsl(238, 29%, 16%); /* Text */
  --softRed: hsl(14, 88%, 65%); /* Text */
  --veryDarkGrayishBlue: hsl(237, 12%, 33%); /* Text */
  --darkGrayishBlue: hsl(240, 6%, 50%); /* Text */
  --lightGrayishBlue: hsl(240, 5%, 91%); /* Divider */
  --softViolet: hsl(273, 75%, 66%); /* Gradient */
  --softBlue: hsl(240, 73%, 65%); /* Gradient */
}
